:root{
    --main-font:'Poppins', sans-serif;
    --heading-bold:700;
    --heading-semibold:500;
    --link-font:20px;
    --bg-color : #DE13FF;

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:var(--main-font);
    font-size: 16px;
}
.container{
    max-width: 1140px;
    padding: 0px 20px;
    margin: 0 auto;
    /* overflow: auto; */
}
.flex{
    display: flex;
}
.jccenter{
    justify-content: center;
}
.jcbetween{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.grid{
    display: grid;
 }
img{width: 100%;}

h2{
    font-weight:var(--heading-bold) ;
}
h3{
    font-weight:var(--heading-semibold) ;
    
}
p{
    
}
a{
    text-decoration: none;
    display: inline-block;
     
}
ul{
    list-style-type: none;
}
.text-center{
    text-align: center;
}
.d-none{
    display: none;
}
.btn{
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
}
.btn-fill{
    background-color: var(--bg-color);
    border: 1px solid transparent;
    transition: background 1s;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    -o-transition: background 1s;
}
.btn-fill:hover{
    border: 1px solid var(--bg-color);
    background-color: transparent;
}
.btn-outline{
    border: 1px solid var(--bg-color);
    transition:background 1s;
    -webkit-transition:background 1s;
    -moz-transition:background 1s;
    -ms-transition:background 1s;
    -o-transition:background 1s;
}
.btn-outline:hover{
    color: #fff;
   
    background-color: var(--bg-color);
    
}
/* margin  */
.m-1{
    margin: 8px;
}
.m-2{
    margin: 1rem;
}
.m-3{
    margin: 2rem;
}
.m-5{
    margin: 3rem;
}
.ms-1{
    margin-left: 8px;
}
.me-1{
    margin-right: 8px;
}
.mx-1{
    margin: 0px 1rem/2;
}
.mx-2{
    margin: 0px 1rem;
}
.mx-3{
    margin: 0px 2rem;
}
.mx-5{
    margin: 0px 3rem;
}
.my-1{
    margin: 1rem/2 0px ;
}
.my-2{
    margin:1rem 0px ;
}
.my-3{
    margin: 2rem 0px;
}
.my-5{
    margin: 3rem 0px;
}



/* margin  */
.p-1{
    padding: 1rem/2;
}
.p-2{
    padding: 1rem;
}
.p-3{
    padding: 2rem;
}
.p-5{
    padding: 3rem;
}
.px-1{
    padding: 0px 1rem/2;
}
.px-2{
    padding: 0px 1rem;
}
.px-3{
    padding: 0px 2rem;
}
.px-5{
    padding: 0px 3rem;
}
.py-1{
    padding: 1rem/2 0px ;
}
.py-2{
    padding:1rem 0px ;
}
.py-3{
    padding: 2rem 0px;
}
.py-5{
    padding: 3rem 0px;
}


/* media Query  */
 
@media (max-width:768px) {
    header > .flex{
        flex-direction: column;
    }
    #hero .grid{
        grid-template-columns: 1fr;
    }
   
}