:root{
    --bg-color : #DE13FF;
}
/* header style  */
header{
background-color: var(--bg-color);
padding: 30px 0px;
}
.menu a{
    padding: 10px 15px;
    font-size: 22px;
    font-weight: 500;
 }

#hero .grid{
    grid-template-columns: repeat(2,1fr);
}

/* Services style  */
#services .grid{
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
#services .item{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    transform-style: preserve-3d;


}
#services .item i{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.7);

}
#services .item:hover{
    transition: transform 0.3s, background-color 1s;
    background-color: var(--bg-color);
    color:#fff;
    transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -webkit-transition: transform 0.3s, background-color 1s;
    -moz-transition: transform 0.3s, background-color 1s;
    -ms-transition: transform 0.3s, background-color 1s;
    -o-transition: transform 0.3s, background-color 1s;
}
#services  .second .btn{
    background-color: #fff;
    color: black;
}
#services .item:hover .first{
    display: none;
}
#services .item:hover .second{
    display: block;
}

/* case study css  */
#casestudy{
    background-color: #2D2D2D;
}
#casestudy .grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}
#casestudy .citem{
    background-color: #fff;
    padding: 50px;
}
#casestudy .first{
 
    grid-row: 1  / -1;
    grid-column: 1 / 2;
}